.child-data-style {
    margin: 0 auto;
    width: 85%;
    box-shadow: 2px 2px 10px gray;
    border-radius: 5px;
    transition: all 0.5s;
}

.child-data-style:hover {
    box-shadow: 5px 8px 20px gray;

}

.child-data-style .img {
    margin: 10px auto;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.child-data-style .img img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    transition: all 0.5s;
}

.child-data-style:hover .img img {
    transform: scale(1.2);
}

.hr {
    width: 90%;
    height: 2px;
    margin: 0 auto;
    background-image: linear-gradient(to right, yellow, red);
    /* background-color: red; */
}

.child-data-style .text-info {
    height: 180px;
    background-color: rgba(0, 0, 0, 0.2);
}

.child-data-style .text-info h6, h5, p {
    text-align: left;
    margin: 0;
    padding: 0 8px;
    color: black;
}

.child-data-style .text-info h6 {
    padding-top: 10px;
    color: black;
}

.child-data-style .text-info h6 {
    margin-top: 20px;
    color: red;
}

.child-data-style .text-info span {
    font-weight: 500;
    font-size: 14px;
    /* margin-right: 5px; */
}

.child-data-style .text-info {
    padding: 0 10px;
}

.child-data-style button {
    width: 100%;
    border: 0;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0 0 5px 5px;
    transition: all 0.8s;
}
.child-data-style button:hover{
    background-image: linear-gradient(to right, rgba(200,0,0,0.8), rgba(200,200,0,0.8));
    color: white;
}





/* .child-data-style {
    /* background-color: aqua; */
/* position: relative;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    overflow: hidden; */
/* } */

/* .child-data-style .img {
    margin: 10px auto;
    width: 100%;
    height: 100%;
} */

/* .child-data-style .img img {
    width: 100%;
    height: 100%;
} */

/* .child-data-style .info {
    position: absolute;
    height: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    top: 0;
    left: 0;
    color: white;
} */

.child-data-style .img img:hover .child-data-style .info {
    /* top: 0; */
    /* left: 0; */
}