.main-form-style{
    padding-top: 70px;
}
.main-form-style form input, textarea{
    width: 40%;
    margin: 8px;
    border: 0;
    box-shadow: 2px 2px 5px gray;
    padding: 2px 10px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-radius: 5px;
    outline: 0;
}
